			div#AmRIcal 	{margin: 0 1em;}
			div#AmRIcal .expandall	{margin: 0 0 0 25em; color: #D54E21; font-size: smaller;}
			div#AmRIcal ul {list-style: none; padding: 0; margin:0;}
			fieldset.alt {background: #eee;}
			div#AmRIcal fieldset {float: left; width: 40em; margin: 0.5em 0;}
			div#AmRIcal fieldset#amrglobal label {margin-top: 1em;}
			div#AmRIcal fieldset#amrglobal { width: 35em; }
			div#AmRIcal fieldset#submit {width: 20em; margin: 0.5em 0;}
			div#AmRIcal fieldset#ListTypes {width: 350em; margin-bottom: 1em; }	
			div#AmRIcal fieldset#ListTypes fieldset { padding: 0 0.5em; }				
			
			div#AmRIcal legend {font-weight: bold; }
			div#AmRIcal fieldset.layout legend {font-weight: normal; }
			
			div#AmRIcal input {margin-left: 1em; padding: 0.2em 0 0.2em 0; }
			div#AmRIcal fieldset.layout input {margin: 0; padding: 0;}
			div#AmRIcal fieldset#submit input {padding: 0.4em;}
			div#AmRIcal fieldset#ListTypes fieldset.formats input { } 
			
			div#AmRIcal fieldset.limits label  {margin-left: 1em; }
			div#AmRIcal fieldset.general label {margin-left: 1em; }

			div#AmRIcal fieldset#amrglobal label {  display: block;}
			div#AmRIcal label.Column {margin-left: 9em; }
			div#AmRIcal fieldset#ListTypes fieldset.formats label 
			{	margin-left: 1em; 
			}
			div#AmRIcal fieldset.layout label 
			{	font-size: xx-small; 
				position:relative; 
				top: -2.5em;
				right: -4em;
			}
			div#AmRIcal input.wide {
            width: 90%;
			}
			div#AmRIcal h4 { padding:0; margin: 0;
			}
